NEXT_PUBLIC_GIS_API_URL=http://10.8.0.1:8001
NEXT_PUBLIC_API_URL=http://10.8.0.1:8001
NEXT_PUBLIC_PROPERTY_API_URL=http://10.8.0.1:8000

# NEXT_PUBLIC_GIS_API_URL=https://api.texasparcels.com
# NEXT_PUBLIC_API_URL=https://api.texasparcels.com


NEXT_PUBLIC_GIS_API_KEY=Rdshcmw718ASCNY0Oksli4YM4nP52e3cmol5ndhjbSCOLjd8

# Texas Parcels Website URL (for property links)
NEXT_PUBLIC_TEXASPARCELS_URL=https://texasparcels.com